.login hr {
  margin-left: 10%;
  margin-right: 10%;
}

.login {
  display: flex;
}

.login-left-img {
  display: flex;
  width: 20%;
  height: 60vh;
  margin-left: 10%;
  margin-top: 1%;
  opacity: 1;
  transition: all 0.3s;
}

.login .container {
  float: right;
  margin-right: 10%;
  border-radius: 50px;
  width: 40%;
  max-width: 657px;
  height: 80vh;
  background-color: #f0f3fa;
  transition: all 0.2s;
}

/* .login .container input {
  display: flex;
  width: 80%;
  height: 30px;
  border: 1px solid;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  background-color: #f0f3fa;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
} */

.login input::placeholder {
  color: rgb(84, 84, 84);
  font-size: 0.8rem;
  font-style: italic;
}

.login .login-title {
  margin-top: 30%;
  margin-left: 9%;
  font-size: 26px;
  margin-bottom: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.google-login {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-left: 9.5%;
  margin-right: 9.5%;
}

/* .login .email {
}

.login .passwd {
} */

.login .sign-up {
  display: inline-block;
  border: 0;
  margin-left: 10%;
  font-size: 1rem;
  color: #5aa4ff;
}

.login .login-btn {
  float: right;
  background-color: #f0f3fa;
  min-width: 50px;
  width: 10vh;
  min-height: 35px;
  height: 5vh;
  padding: 1px;
  margin-right: 8%;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 50px;
  border: 3px solid #ffffff;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 1.5px 1.5px 0px rgba(18, 18, 18, 1);
}

/* 화면 크기에 따른 컨테이너 크기 */
@media screen and (max-width: 1600px) {
  .login .login-left-img {
    display: none;
    width: 0;
    margin: 0;
    height: 30vh;
    transition: all 0.3s;
  }

  .login-left-img .gif {
    margin-left: 50px;
  }

  .login .container {
    width: 100%;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .login .login-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .google-login {
  }
}

@media screen and (max-height: 700px) {
  .login .container {
    height: 75vh;
  }
}

@media screen and (max-height: 500px) {
  .login .container {
    height: 65vh;
  }
}
