@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login hr {
  margin-left: 10%;
  margin-right: 10%;
}

.login {
  display: flex;
}

.container-wrap {
  display: flex;
  width: 100%;
}

.login-left-img {
  display: flex;
  width: 20%;
  height: 60vh;
  margin-left: 5%;
  margin-top: 1%;
  opacity: 1;
  transition: all 0.3s;
}

.login .container {
  float: right;
  margin-right: 13%;
  border-radius: 50px;
  width: 80%;
  max-width: 657px;
  height: 80vh;
  background-color: #f0f3fa;
  animation: loading 1s;
}

.container.on {
  width: 40%;
}

.login .login-title {
  margin-top: 30%;
  margin-left: 9%;
  font-size: 26px;
  margin-bottom: 0px;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.google-login {
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-left: 9.5%;
  margin-right: 9.5%;
}

/* 화면 너비가 1600px 이하일 때 */
@media screen and (max-width: 1600px) {
  .login .login-left-img {
    display: none;
    width: 0;
    margin: 0;
    height: 30vh;
    transition: all 0.3s;
  }

  .login-left-img .gif {
    margin-left: 50px;
  }

  .login .container {
    width: 60%;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .login .login-title {
    font-size: 3rem;
  }
}

/* 화면 너비가 576px 이하일 때 */
@media screen and (max-width: 576px) {
  .google-login {
  }
}

/* 화면 높이가 700px 이하일 때 */
@media screen and (max-height: 700px) {
  .login .container {
    height: 75vh;
  }
}

/* 화면 높이가 500px 이하일 때 */
@media screen and (max-height: 500px) {
  .login .container {
    height: 65vh;
  }
}
