.mentor-chat .wrapper {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  min-width: 600px;
  height: 78vh;
  margin: 0 auto;
  margin-top: 2%;
  background-color: none;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.mentor-chat-content-left {
  order: 1;
  border-radius: 50px;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
  width: 49.5%;
  padding: 2%;
  background-color: #f0f3fa;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.mentor-chat-content-right {
  order: 2;
  border-radius: 50px;
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
  margin-left: 0.5%;
  width: 49.5%;
  padding: 2%;
  background-color: #f0f3fa;
  position: relative;
  transition: cubic-bezier(1, 0, 0, 1) 1s;
}

.mentor-chat-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1%;
}

/* .mentor-chat-header-title {
  font-size: 1.5rem;
  font-weight: 700;
} */

.leave-button {
  height: 50%;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #121212;
  background-color: #f0f3fa;
  border-radius: 10px;
  padding: 1%;
}

.chat-messages-container {
  height: 80%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-messages-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 메시지 리스트 */
.chat-messages-container li {
  list-style: none;
}

.chat-messages-container ul {
  padding: 0;
}

/* 메시지 내용 */
.chat-messages-container p {
  margin: 0;
}

.chat-messages-container .message-sender {
  font-size: 0.8rem;
  font-weight: 700;
}

.chat-messages-container .message-content {
  margin-top: 1%;
  margin-bottom: 5%;
}

/* 유저 메시지 */
.chat-messages-container .user-message {
  text-align: right;
}

/* 서버 메시지 */
.chat-messages-container .server-message {
  color: #5b94ff;
  text-align: center;
}

/* 멘토 메시지 */
.chat-messages-container .mentor-message {
  text-align: left;
}

.chat-input-form {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 3%;
  width: 92%;
  height: 5%;
  padding: 0;
}

.chat-input {
  border: 2px solid #121212;
  border-right: 1px solid #121212;
  box-sizing: border-box;
  background-color: #f0f3fa;
  width: 85%;
  height: 100%;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-top-left-radius: 37px;
  border-bottom-left-radius: 37px;
  /* border: none; */
}

.chat-input:focus {
  outline: none;
}

.chat-send-button {
  border: 2px solid #121212;
  border-left: 1px solid #121212;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f0f3fa;
  width: 15%;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 1700px) {
  .chat-send-button {
    font-size: 0.8rem;
  }
}
