.user .wrapper {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  max-width: 1257px;
  height: 81.5vh;
  margin: 0 auto;
  padding: 0 auto;
  background-color: none;
  transition: cubic-bezier(1, 0, 0, 1);
}

.user .google-logo {
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-top: 15%;
}

.user-content-left {
  order: 1;
  border-radius: 50px;
  width: 29%;
  padding: 2%;
  background-color: #f0f3fa;
  transition: cubic-bezier(1, 0, 0, 1);
}

.user-content-right {
  order: 2;
  border-radius: 50px;
  margin-left: 1%;
  width: 70%;
  padding: 2%;
  background-color: #f0f3fa;
  transition: cubic-bezier(1, 0, 0, 1);
}

.user .content-left-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12%;
}

.user .profile-image {
  display: inline-block;
  border-radius: 50%;
}

.user .profile-name {
  text-shadow: -0.7px 0px #f0f3fa, 0px 0.7px #f0f3fa, 0.7px 0px #f0f3fa,
    0px -0.7px #f0f3fa;
  display: inline-block;
  margin-right: 50%;
}

.user .content-left-middle {
  display: block;
  align-items: center;
  margin-top: 5%;
}

.user .profile-part {
  text-shadow: -1px 0px #f0f3fa, 0px 1px #f0f3fa, 1px 0px #f0f3fa,
    0px -1px #f0f3fa;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 13%;
}

.user .profile-language {
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.user .profile-language-list {
  margin: 0 auto;
  padding: 2%;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.user .profile-language-list-content {
  background-color: rgb(220, 220, 220);
  display: inline;
  margin: 0 auto;
  margin-right: 5%;
  border-radius: 30px;
  padding: 2%;
  font-weight: bold;
}

.user .logout-button {
  display: block;
  float: right;
  border: 0;
  background-color: transparent;
  border-radius: 30px;
  color: rgb(40, 140, 255);
}
