.note-container {
  height: 70vh;
  display: block;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}

.note-content {
  white-space: pre-wrap; /* 줄바꿈을 유지 */
  word-wrap: break-word; /* 긴 단어를 줄바꿈 */
}
