body {
  background: #121212;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border-radius: 50px;
  width: 80%;
  padding: 1%;
  max-width: 1223px;
  height: 80vh;
  margin: 0 auto;
  background-color: #f0f3fa;
  transition: all 0.2s;
}

.w-50 {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.home .title {
  margin: 5%;
}

@media screen and (max-height: 700px) {
  .container {
    height: 75vh;
  }
}

@media screen and (max-height: 500px) {
  .container {
    height: 65vh;
  }
}
